<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <title>SSR MOVIE LIST</title>
  </head>
  <body>
    <header>
      <h1>SSR MOVIE LIST</h1>
    </header>
    <main class="main-content">
      {{{body}}}
    </main>
  </body>
</html>